.Container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.Title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  color: #ff0000;
  font-size: 3em;
  font-family: 'Arial Black', sans-serif;
  text-shadow: 4px 4px 6px rgba(255, 255, 255, 0.5);
  animation: fadeInDown 1s ease;
}

.Paragraph-container {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5); 
}

.Paragraph {
  color: #0400ff; 
  font-size: 1.5em;
  line-height: 1.6;
  font-family: 'Arial', sans-serif;
  animation: fadeInUp 1s ease;
  background-color: rgba(5, 5, 5, 1); 
}

.EmailButton {
  background-color: #3498db;
  color: #fff;
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  animation: fadeInUp 1s ease;

  &:hover {
    background-color: #2980b9;
  }

  &:focus {
    box-shadow: 0 0 0 4px rgba(52, 152, 219, 0.5); 
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
