body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('../images/FondoProductos.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.button-container button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px; 
  margin: 5px;
  border: none;
  border-radius: 25px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px; 
}

.button-container button:hover {
  background-color: #2980b9;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card-container {
  width: 250px;
  margin: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ac7e7e;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product-card-container:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.product-details {
  padding: 10px;
  text-align: center;
}

.product-title {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.product-category {
  margin: 5px 0;
  color: #888;
}

.product-price {
  margin: 5px 0;
  font-weight: bold;
  color: #3498db;
}
